.hidden {
    display: none;
}

ul button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

ul input {
    border: none;
    margin-left: 0.5rem;
    box-shadow: none;
    outline: none;
    background: transparent;
    transition: border-color 0.2s;
    flex: 1;
    color: azure;
    border-bottom: 2px solid whitesmoke;
}

ul input.checked {
    color: #333e47;
    text-decoration: line-through;
    cursor: pointer;
}

ul input.unchecked {
    color: #fffafa;
    cursor: pointer;
}

#greeting {
    font-size: 40px;
    font-weight: 400;
    font-style: italic;
    color: #f0f8ff;
}

#quote, #message, #list, #todoList {
    font-style: italic;
    font-weight: bold;
    color: #fffafa;
}

#clock {
    font-size: 120px;
    color: #333e47;
}

#messageForm input {
    border: none;
    width: 50%;
    height: 36px;
    padding: 0 12px;
    box-shadow: none;
    outline: none;
    background: transparent;
    transition: border-color 0.2s;
    font-size: 30px;
    color: azure;
    border-bottom: 2px solid whitesmoke;
}

input::placeholder {
    font-size: 1rem;
    cursor: text;
    top: 20px;
}

form input:focus {
    border: 1px solid #2860e1;
}

.bgImage {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    animation: fadeIn 600ms linear;
}

.weather-right {  
    font-family: "Nunito Sans", sans-serif;
    position: fixed;
    top: 60px;
    right: 70px;
    color: #fffafa;
    font-weight: 700;
}